.main_articles_swiper{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 0 ;
    cursor: pointer;
}
.main_articles_swiper > div{
    display: flex;
    align-items: center;
}

/* :global(.swiper-wrapper) {
    display: flex !important;
    align-items: center !important;
} */


/* .promotion{
position: absolute;
right: 0;
top: 0;
} */

.articles_swiper-button-prev{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    left: -75px;
    cursor: pointer;   
}


.articles_swiper-button-next{
    position: absolute;
    height: 30px;
    width: 30px;
    right: -75px;
    top: 50%;
    cursor: pointer;
}

@media screen and (max-width: 990px)  {
    .articles_swiper-button-prev , .articles_swiper-button-next{
        display: none;
    }
}